[user]
	name = Jeric O. Newby
	email = tech@newbyan.com
[credential]
	helper = cache --timeout=3600
#[push]
	#default = simple
[color]
    diff = true
    status = true
[alias]
    co = checkout
    br = branch
