#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base3
*foreground:            S_base00
*fadeColor:             S_base3
*cursorColor:           S_base01
*pointerColorBackground:S_base1
*pointerColorForeground:S_base01

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15:               S_base3

URxvt.scrollBar:           false
URxvt.scrollBar_right:     false
URxvt.scrollBar_floating:  false
URxvt.scrollstyle:         rxvt
!! Get rid of annoying spacing in Powerline fonts
!!URxvt.letterSpace:  -1

!-- Xft settings -- !
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.autohint:   0

!! # URxvt*font:           xft:Monaco for Powerline Regular:size=12
!! fc-list |grep ... to get list of fonts
!! URxvt*font:             \
!!                        xft:Hack:style=Regular:antialias=true:size=13
!!                        xft:Input:style=Regular:antialias=true:size=15, \
!!                        xft:Monaco for Powerline:style=Regular:antialias=true:size=13, \
!!                        xft:Inconsolata:style=Medium:antialias=true:size=16, \
!!                        xft:Fira Mono for Powerline:style=Regular:size=14, \
!!                        xft:DejaVu Sans Mono:style=Book:antialias=true:size=13

URxvt*font:  xft:Roboto Mono for Powerline:style=Regular:antialias=true:size=13, \
            xft:Hack
!!URxvt*font:  xft:RobotoMono Nerd Font:size=15, \
!!            xft:Hack

!! URxvt*font:           xft:M+ 1m for Powerline:style=Regular:size=12

!! URxvt.internalBorder:  20

!! Fake transparency
!! URxvt.transparent:   true
!! URxvt.shading:       70

!! URxvt.inheritPixmap: true
!! URxvt.transparent: true
!! URxvt.tintColor: #000
!! URxvt.shading: 45

!! Real transparency
!!URxvt*depth:32
!!URxvt*background:rgba:2000/2000/2000/cccc

!! URxvt*depth:32
!! URxvt*foreground:#B0B0B0
!! URxvt*background:rgba:2000/2000/2000/cccc

! special
!! *.foreground:   #373b41
!! *.background:   #ffffff
!! *.cursorColor:  #373b41
!! 
!! ! black
!! *.color0:       #1d1f21
!! *.color8:       #969896
!! 
!! ! red
!! *.color1:       #cc6666
!! *.color9:       #cc6666
!! 
!! ! green
!! *.color2:       #b5bd68
!! *.color10:      #b5bd68
!! 
!! ! yellow
!! *.color3:       #f0c674
!! *.color11:      #f0c674
!! 
!! ! blue
!! *.color4:       #81a2be
!! *.color12:      #81a2be
!! 
!! ! magenta
!! *.color5:       #b294bb
!! *.color13:      #b294bb
!! 
!! ! cyan
!! *.color6:       #8abeb7
!! *.color14:      #8abeb7
!! 
!! ! white
!! *.color7:       #c5c8c6
!! *.color15:      #ffffff
!! 
