# Setup fzf
# ---------
if [[ ! "$PATH" == */home/konigby/.fzf/bin* ]]; then
  export PATH="$PATH:/home/konigby/.fzf/bin"
fi

# Auto-completion
# ---------------
[[ $- == *i* ]] && source "/home/konigby/.fzf/shell/completion.zsh" 2> /dev/null

# Key bindings
# ------------
source "/home/konigby/.fzf/shell/key-bindings.zsh"

# Use rg instead of find, search hidden files, and exclude search .git dir
export FZF_DEFAULT_COMMAND='rg --files --no-ignore --hidden --follow -g "!{.cache,.git,node_modules}/*" 2> /dev/null'

# Apply the default command to CTRL-T as well
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

export FZF_ALT_C_COMMAND="fd --type d --hidden --follow --exclude .git --exclude .cache"

# CTRL-O - Search for file and open in default $EDITOR 
fzf-editor-widget() {
    fname="$(__fsel)"
    fname=$( echo -e "${fname}" | tr -d  '[:space:]')
    $EDITOR "$fname"
}
zle     -N   fzf-editor-widget
bindkey '^O' fzf-editor-widget
